.hero-img {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }
}

#hero-welcome {
  background-image: url("../../res/hero/crsl_mr2_pose.jpg");
}

#hero-research {
  background-image: url("../../res/hero/crsl_learning_brain.jpg");
}

#hero-members {
  background-image: url("../../res/hero/hero_bbq.jpg");
}