.research-theme-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: $grey-darker;

  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.research-theme-content {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  video, img{
    width: 100%;
  }
}